### Immutable data structures

Dont use dictionary, list because it's mutable. Use tuple!

In [1]:
import collections

In [2]:
Scientist = collections.namedtuple('Scientists', [
    'name',
    'field',
    'born',
    'nobel'
])

In [12]:
scientists = (Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
              Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
              Scientist(name='Marie Curie', field='physics', born=1867, nobel=True),
              Scientist(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
              Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
              Scientist(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
              Scientist(name='Sally Ride', field='physics', born=1951, nobel=True)
             )

In [13]:
scientists

(Scientists(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientists(name='Emmy Noether', field='math', born=1882, nobel=False),
 Scientists(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientists(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientists(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
 Scientists(name='Vera Rubin', field='astronomy', born=1928, nobel=False),
 Scientists(name='Sally Ride', field='physics', born=1951, nobel=True))

In [8]:
from pprint import pprint

In [9]:
pprint(scientists)

[Scientists(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientists(name='Emmy Noether', field='math', born=1882, nobel=False)]

### The "filter()" Function

In [18]:
#get new list off scientists that have won nobel prize
fs = tuple(filter(lambda x: x.nobel is True, scientists))
#lambda is a one line function, put arguments with one expression, no return. Will evaluate expression and return back.
#next(fs) can be used if tuple is not used above

In [20]:
pprint(fs)

(Scientists(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientists(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientists(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
 Scientists(name='Sally Ride', field='physics', born=1951, nobel=True))

In [21]:
## List comprehensions
[x for x in scientists if x.nobel is True]
## "pythonic" version of filter expression

[Scientists(name='Marie Curie', field='physics', born=1867, nobel=True),
 Scientists(name='Tu Youyou', field='chemistry', born=1930, nobel=True),
 Scientists(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
 Scientists(name='Sally Ride', field='physics', born=1951, nobel=True)]

### The "map()" Function

In [22]:
## map takes a list of stuff, applies a function and assembles a new list based on that
names_and_ages = tuple(map(
    lambda x: {'name': x.name, 'age':2017-x.born},
    scientists
))

In [24]:
pprint(names_and_ages)

({'age': 202, 'name': 'Ada Lovelace'},
 {'age': 135, 'name': 'Emmy Noether'},
 {'age': 150, 'name': 'Marie Curie'},
 {'age': 87, 'name': 'Tu Youyou'},
 {'age': 78, 'name': 'Ada Yonath'},
 {'age': 89, 'name': 'Vera Rubin'},
 {'age': 66, 'name': 'Sally Ride'})

In [27]:
## make above more pythonic with list comprehension
pprint(tuple({'name': x.name, 'age': 2017-x.born}
for x in scientists))

({'age': 202, 'name': 'Ada Lovelace'},
 {'age': 135, 'name': 'Emmy Noether'},
 {'age': 150, 'name': 'Marie Curie'},
 {'age': 87, 'name': 'Tu Youyou'},
 {'age': 78, 'name': 'Ada Yonath'},
 {'age': 89, 'name': 'Vera Rubin'},
 {'age': 66, 'name': 'Sally Ride'})